@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gTD_u50.woff2') format('woff2');
    /* Adicione outras variações da fonte Montserrat aqui, se necessário */
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

header{
    background-color: black;
}

h1{
    color: white;
    font-size: 1.7rem;
}

nav img{
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    position: relative;
    bottom: .6rem;
    margin-right: .5rem;
}

nav{
    color: white;
    margin-bottom: 3rem;
}

.search{
    width: 15rem;
    height: 1.6rem;
    display: flex;
padding: 0.125rem 1.25rem 0.375rem 2.0625rem;
justify-content: flex-end;
align-items: center;
border-radius: 6.25rem;
background: #FFF;
box-shadow: 0px 4px 12px 0px rgba(97, 95, 95, 0.20);
}

.search svg{
    width: 1.4rem;
height: 1.4rem;
flex-shrink: 0;
}

.search p{
    color: black;
    margin: 0%;
    padding: 0%;
}
#gamesphere{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0%;
}

p, div{
    margin: 0%;
}

.carr{
    height: 28rem;
    
}

.carousel-inner p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem; 
    margin-bottom: 1rem;
}

a{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem; 
    margin-bottom: 1rem;
    text-decoration: none;
}

button{
    margin-top: 5rem;
}

#categorias{
    color: white;
}

.cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

/*                         PRODUTOS                    */

.card img{
    width: 14rem;
height: 20rem;
border-radius: 0.6rem;
}

#produtos h2{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.tag{
    font-size: 0.8rem;
    font-weight: 700;
}

.price{
    color: #B92828;
    font-weight: 800;
}

.title{
    font-weight: 500;
}

.card-body{
    padding-top: 0.5rem;
}

.owl-item .active{
    width: 260px;
}

.redes{
    gap: 1rem;
}

#redessociais p{
    color: white;
    font-size: 1.3rem;
    margin-right:2rem;
    margin-left: 2rem;
}

hr{
    color: white;
}

footer p{
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
font-size: 1.4rem;
font-style: normal;
font-weight: 100;
line-height: 2.5rem; /* 137.931% */
margin-left: 2rem;
}

footer div{
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 3rem;
}

element.style {
    width: 30px;
}

/*               MEDIA QUERY         */

@media screen and (max-width: 600px) {
    html{
        margin: 0%;
        padding: 0%;
    }
    body {
        font-size: 1rem;
        margin: auto;
        

}

.container-fluid{

    align-items: center;
        justify-content: center;
}

.owl-stage{
    display: flex !important;
}
.owl-stage-outer{
    height: auto!important;
}
.card{
    margin-left: .5rem;
    margin-right: .5rem;
    height: auto!important;
}
    .carousel-inner img{
        width: 22.5rem;
height: 15.0625rem;
    }

    .cat svg{
        width: 4rem;
height: 4rem;
    }

    .cat p{
        margin-top: .5rem;
        color: #FFF;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 0rem; /* 0% */
    }
    .cat{
        justify-content: center;
        margin: 0%;
        gap: 0.5rem;
    }

    #categorias{
        gap: 1rem;
        margin-bottom: 2rem;
    }

    nav{
        margin: 0;
    }

    footer div{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    footer .container-fluid{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .carousel-item .d-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .carousel-item .d-flex button{
        margin-top: 1rem;
    }

    .carousel-item .d-flex .ms-5{
        position: relative;
        bottom: 12rem;
    }
    .navbar {
        display: flex;

    }
    nav .ms-auto{
        margin-left: 0% !important;
    }
    .navbar-collapse div, p {
        margin-bottom: .5rem;
    }

    #inav{
       display: inline;
       align-items: baseline;
       justify-content: start;
    }
    .navbar button{
        margin: 0%;
    }

    .logo{
        margin-top: 1rem;
    }

    footer p{
        margin: 0%;
    }

    #redessociais p{
        margin-left: .5rem ;
        margin-right: .5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .redes{
        margin-top: .5rem;
    }
}


/*                       N A V                    */

.owl-item{
    width: 260px !important;
}

nav p a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}

nav .d-flex{
    display: inline;
    align-items: center;
    justify-content: center;
}

.no-js .owl-carousel,.owl-carousel.owl-loaded {
    height: 500px;
}


/* L O G I N */


#section-login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

#section-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#section-cadastro #section-login{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
}

#login-id p{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
}


.main-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

form button, input{
    margin-top: 1rem;
}

form label{
    margin-top: .5rem;
}

#form-cadastrar {
    display: none;
}


/*           V O L T A R  A O  T O P O         */


#voltar-topo :before {
    color: white;
    border-color: white;
    }
#voltar-topo :after {
    color: rgb(0, 0, 0);
    border-color: white;
    }
.btn:hover{

    background-color: rgb(255, 255, 255);
    border-color: white;
    color: black;
}

.btn-outline-primary{
    color: white;
    border-color: white ;
}

.botao-voltar-ao-topo{
    position:  fixed ; 
    bottom :  5px; 
    right:  50px;
    z-index: 9999;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: white;
    background-color: black;
    border-color: white;
}

.owl-stage{
    display: flex !important;
}



